
.link {
    fill: none;
    stroke-width: 1px;
    stroke: #c4a109;
}

circle {
    fill: #ccc;
    stroke-width: 7px;
    stroke: #c4a109;
}

text.node-label {
    fill: black;
    font: 15px Arial;
    pointer-events: none;
    align-items: center;
    align-self: center;
    background-color: aliceblue;
}

text.data-label {
    font: 15px Arial
}

text.chart-title {
    font: 30px Arial;
    text-align: center;
}

div#histogram-area {
    margin: 20px;
    border: 1px solid black;
}

div.filter-triangle {
    width: 0;
    height: 0;
    background-color: black;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}
